{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ search_value }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ search_value }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ search_value }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ search_value }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}